@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Not Detay";
}

<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row pl-5 mr-0">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Category.Title)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Category.Title)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.IsDraft)
            </dt>

            <dd class="col-md-9">
                @if (Model.IsDraft)
                {
                    <i class="fa fa-check text-success"></i>
                }
                else
                {
                    <i class="fa fa-times text-danger"></i>
                }
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.LikeCount)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.LikeCount)
            </dd>

        </dl>
        <div class="col-md-10 pl-0">
            <p>
                @Bootstrap.LinkButton("/Note/Index", "secondary", string.Empty, string.Empty, "arrow-left", " Geri Dön!")
                @Bootstrap.LinkButton("/Note/Edit/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Düzenle")
            </p>
        </div>
    </div>
</div>