@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Notu Düzenle";
}

<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row pl-5 mr-0">

    <div class="col-md-10">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group  row">
                <div class="col-md-12 pr-0">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group  row">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control col-md-10" } })
            </div>

            <div class="form-group  row">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                @Html.TextAreaFor(model => model.Text, 5, 30, new { @class = "form-control col-md-10" })
            </div>

            <div class="form-group  row">
                @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                <div class="checkbox col-md-10">
                    @Html.EditorFor(model => model.IsDraft)
                </div>
            </div>

            <div class="form-group  row">
                @Html.LabelFor(model => model.CategoryId, "Kategori", htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control col-md-10" })
            </div>

            <div class="form-group row">
                <div class="col-md-12 pr-0 text-right">
                    @Bootstrap.LinkButton("/Note/Index", "secondary", string.Empty, string.Empty, "arrow-left", " Geri Dön!")
                    @Bootstrap.Button("success", string.Empty, "submit", "save", " Kaydet")
                </div>
            </div>
        }

    </div>
</div>