@using MyEvernote.WebApp
@model MyEvernote.Entities.EvernoteUser

@{
    ViewBag.Title = "Kullanıcı Sil";
}

<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row pl-5 mr-0">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd class="col-md-9">
                @if (Model.IsActive)
                {
                    <i class="fa fa-check text-success"></i>
                }
                else
                {
                    <i class="fa fa-times text-danger"></i>
                }
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>

            <dd class="col-md-9">
                @if (Model.IsAdmin)
                {
                    <i class="fa fa-check text-success"></i>
                }
                else
                {
                    <i class="fa fa-times text-danger"></i>
                }
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>

        </dl>
        <div class="col-md-10 pl-0">
            <p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Bootstrap.LinkButton("/EvernoteUser/Index", "secondary", string.Empty, string.Empty, "arrow-left", "Geri Dön!")
                        @Bootstrap.Button("danger", string.Empty, "submit", "trash", "Kaldır")
                    </div>
                }
            </p>
        </div>
    </div>
</div>
