@using MyEvernote.WebApp
@model IEnumerable<MyEvernote.Entities.EvernoteUser>

@{
    ViewBag.Title = "Kullanıcılar";
}

<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row pl-5 mr-0">
    <div class="col-md-12">

        <p>
            @Bootstrap.LinkButton("/EvernoteUser/Create", "primary", " btn-sm", string.Empty, "plus", "Yeni Kullanıcı Ekle")
        </p>
        <table class="table table-hover table-striped table-sm small">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td class="text-center">
                        @if (item.IsActive)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                    </td>
                    <td class="text-center">
                        @if (item.IsAdmin)
                        {
                            <i class="fa fa-check text-success"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>
                    <td>
                        @Bootstrap.LinkButton("/EvernoteUser/Edit/" + item.Id, "warning", "btn-sm", "Düzenle", "edit", string.Empty)

                        @Bootstrap.LinkButton("/EvernoteUser/Details/" + item.Id, "info", "btn-sm", "Detaylar", "search", string.Empty)

                        @Bootstrap.LinkButton("/EvernoteUser/Delete/" + item.Id, "danger", "btn-sm", "Kaldır", "trash", string.Empty)
                    </td>

                </tr>
            }

        </table>
    </div>

</div>