@using MyEvernote.WebApp
@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Kategori Sil";
}

<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
        <p class="text-danger font-weight-bold">Silmek istediğinize emin misiniz?</p>
    </div>
</div>

<div class="row pl-5 mr-0">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Bootstrap.LinkButton("/Category/Index", "secondary", string.Empty, string.Empty, "arrow-left", "Geri Dön !")
                @Bootstrap.Button("danger", string.Empty, "submit", "trash", "Kaldır")
            </div>
        }

    </div>

</div>
