@using MyEvernote.WebApp
@model IEnumerable<MyEvernote.Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row pl-5 mr-0">
    <div class="col-md-12">

        <p>
            @Bootstrap.LinkButton("/Category/Create", "primary", "btn-sm", string.Empty, "plus", "Yeni Kategori Ekle")
        </p>
        <table class="table table-hover table-striped table-sm small">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>
                    <td>
                        @Bootstrap.LinkButton("/Category/Edit/" + item.Id, "warning", "btn-sm", "Düzenle", "edit", string.Empty)

                        @Bootstrap.LinkButton("/Category/Details/" + item.Id, "info", "btn-sm", "Detaylar", "search", string.Empty)

                        @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "danger", "btn-sm", "Kaldır", "trash", string.Empty)
                    </td>
                </tr>
            }

        </table>

    </div>

</div>