@using MyEvernote.Entities
@model List<Note>

@{
    ViewBag.Title = "Notlar";
}


<div class="row mt-4 mr-0">
    <!-- Kategoriler -->
    <div class="col-md-3">
        @Html.Partial("_PartialCategories")
    </div>

    <div class="col-md-9">
        <!-- Carousel -->
        @Html.Partial("_PartialCarousel")

        <!-- Notlar -->
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (Note note in Model)
            {
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://picsum.photos/320/150?random=@(Model.IndexOf(note) % 10)" class="card-img-top" alt="@note.Title">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id">@note.Title</a>
                            </h5>
                            <p class="card-text">
                                @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 70)
                                {
                                    @(note.Text.Substring(0, 70) + "...")
                                }
                                else
                                {
                                    @note.Text
                                }
                            </p>
                            <p class="card-text text-right">
                                <small class="text-muted">
                                    <i class="fa fa-user mr-2"></i>@note.Owner.Username<br />
                                    <i class="fa fa-clock-o mr-2"></i>@note.ModifiedOn.ToString("dd.MM.yy HH:mm")
                                </small>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ratings">
                                        <button class="btn btn-default btn-sm" type="button" data-liked="false" data-note-id="@note.Id">
                                            <i class="fa fa-star-o like-star mr-1"></i>
                                            <span class="like-count">@note.LikeCount</span>
                                        </button>
                                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id">
                                            <i class="fa fa-comment mr-1"></i>
                                            <span>@note.Comments.Count</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id" class="btn btn-light btn-sm">Detay<i class="fa fa-info-circle ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-sm-4 col-lg-4 col-md-4" data-note-id="@note.Id">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="@note.Title">
                            <div class="caption">
                                <h4>
                                    <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id">
                                        @note.Title
                                    </a>
                                </h4>
                                <h6 class="text-right">
                                    @note.Owner.Username <span class="fa fa-user"></span><br />
                                    @note.ModifiedOn.ToString("dd.MM.yy HH:mm") <span class="fa fa-time"></span>
                                </h6>

                                @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 70)
                                {
                                    <p>@(note.Text.Substring(0, 70) + "...")</p>
                                    <p class="pull-right">
                                        <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id" class="btn btn-default btn-sm">devamı <span class="fa fa-chevron-right"></span></a>
                                    </p>
                                }
                                else
                                {
                                    <p>@note.Text</p>
                                }

                            </div>
                            <div>
                                <hr />
                            </div>
                            <div class="ratings">
                                <p class="pull-right">
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id">
                                        <span class="fa fa-comment"></span> Yorumlar
                                    </button>
                                </p>
                                <p>
                                    <button class="btn btn-default btn-sm" type="button" data-liked="false" data-note-id="@note.Id">
                                        <span class="fa fa-star-empty like-star"></span>&nbsp;
                                        <span class="like-count">@note.LikeCount</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>*@
            }
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("_PartialFooter")
}

@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
@Bootstrap.ModalPopup(id: "modal_notedetail", title: "Not Detayı")

<script src="~/Scripts/comment.js"></script>
<script src="~/Scripts/like.js"></script>
<script src="~/Scripts/NoteDetailPopup.js"></script>