
@using MyEvernote.Entities.ValueObjects
@model RegisterViewModel

@{
    ViewBag.Title = "MyEvernote - Kayıt Sayfası";
}

<style>
    .vertical-strech {
        height: 92.4vh;
    }

    .validation-summary-valid {
    }

    .validation-summary-errors {
    }
</style>

<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="row mr-0">
    <div class="col-md-12 p-0">
        <section class="login-block p-4 vertical-strech">

            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Üye Ol</h2>
                    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "login-form" }))
                    {
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(model => model.Username, new { placeholder = "lütfen kullanıcı adınızı giriniz", @class = "form-control" })
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            @Html.TextBoxFor(model => model.EMail, new { placeholder = "lütfen e-posta adresinizi giriniz", @class = "form-control" })
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(model => model.Password, new { placeholder = "lütfen şifrenizi giriniz", @class = "form-control" })
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(model => model.RePassword, new { placeholder = "lütfen şifrenizi tekrar giriniz", @class = "form-control" })
                        </div>

                        <div class="form-check">
                            @*<label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <small>Remember Me</small>
                </label>*@
                            <button type="submit" class="btn btn-login float-right">Kayıt</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group mt-4">
                            <div class="col-md-12">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-8 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="https://picsum.photos/980/600?random=1" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>This is Heaven</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="https://picsum.photos/980/600?random=2" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>This is Heaven</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="https://picsum.photos/980/600?random=3" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>This is Heaven</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<link href="~/Content/new-login-style.css" rel="stylesheet" />

@*<link href="~/Content/login-register.css" rel="stylesheet" />
    <link href="~/Content/validation-summary.css" rel="stylesheet" />

    @using (Html.BeginForm())
    {
        <section class="login-info">
            <div class="container">
                <div class="row main">
                    <div class="form-header">
                        <h1 class="text-center ">Kayıt Formu</h1>
                    </div>
                    <div class="main-content">

                        @Html.ValidationSummary(false)

                        <div class="input-group ">
                            <span class="input-group-addon"><span class="fa fa-user" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı adınız" })
                        </div>

                        <div class="input-group ">
                            <span class="input-group-addon"><span class="fa fa-envelope" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", placeholder = "E-posta adresiniz." })
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-lock" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifreniz", type = "password" })
                        </div>

                        <div class="input-group ">
                            <span class="input-group-addon"><span class="fa fa-lock" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Şifreniz(Tekrar)", type = "password" })
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-danger btn-lg btn-block login-button">Kayıt Ol</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }*@